/*Arimo font-family*/

@font-face {
    font-family: Arimo-Regular;
    src: url('fonts/Arimo/Arimo-Regular.ttf');
}

@font-face {
    font-family: Arimo-Italic;
    src: url('fonts/Arimo/Arimo-Italic.ttf');
}

@font-face {
    font-family: Arimo-Bold;
    src: url('fonts/Arimo/Arimo-Bold.ttf');
}

@font-face {
    font-family: Arimo-Bolditalic;
    src: url('fonts/Arimo/Arimo-BoldItalic.ttf');
}

/*Nunito font-family*/

@font-face {
    font-family: Nunito-Regular;
    src: url('fonts/Nunito/Nunito-Regular.ttf');
}

@font-face {
    font-family: Nunito-Italic;
    src: url('fonts/Nunito/Nunito-Italic.ttf');
}

@font-face {
    font-family: Nunito-Bold;
    src: url('fonts/Nunito/Nunito-Bold.ttf');
}

@font-face {
    font-family: Nunito-Bolditalic;
    src: url('fonts/Nunito/Nunito-BoldItalic.ttf');
}

/* */